<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/tag-selector.css' %}">
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/thinline.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>

    <div class="left">
        <div class="lhighlight"></div>
        
        <h2 id="reg-title">Register</h2>
        <div class="reg-wrapper" onclick="event.stopPropagation()">
            <span id="reg-placeholder"></span> 
        </div>
    </div>
    <div class="right">
        <div class="rhighlight"></div>

        <h2 id="login-title">Log In</h2>
        <div class="login-wrapper" onclick="event.stopPropagation()">
            <span id="log-placeholder"></span> 
        </div>
    </div>
    
    <script src="../../static/js/jQuery.js"></script>
    <script src="../static/js/index.js"></script>
    <script src="../static/js/tag-selector.js"></script>
</body>
</html>