<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/tag-selector.css' %}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/thinline.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    {% if user.is_authenticated %}
    <a href="{% url 'signout' %}">
        <div class="signout">
            <span>Sign Out</span>
        </div>
    </a>
    {% endif %}

    {% if user.is_authenticated %}
    <div class="left">
        <span>Left Suggest</span>
    </div>
    <div class="right">
        <span>Right Suggest</span>
    </div>
    {% else %}
    <div class="left">
        <div class="lhighlight"></div>
        <span id="reg">Register</span>
        <div class="loadreg" id="loadreg" onclick="event.stopPropagation()">
            <span id="register"></span> 
        </div>
    </div>
    <div class="right">
        <div class="rhighlight"></div>
        <span id="li">Log In</span>
        <div class="loadlog" id="loadlog" onclick="event.stopPropagation()">
            <span id="signin"></span> 
        </div>
    </div>
    {% endif %}
    
    <script src="../../static/js/jQuery.js"></script>
    <script src="../static/js/index.js"></script>
    <script src="../static/js/tag-selector.js"></script>
</body>
</html>