.friend-selector {
  font-family: Helvetica, Arial, sans-serif;
  position: absolute;

  width: 210px;
  height: 200px;
  left: calc(var(--sb-width) - 20px);
  top: 145px;

  background-color: rgb(227, 97, 97);
  opacity: 0;
  pointer-events: none;
  z-index: 1;
  border-radius: 5px;
  box-shadow: 3px 3px 20px black;

}

.friend-request-message {
  opacity: 0;
}

.select-friends-title {
  margin: 10px;
  margin-bottom: 0px;
}

.friend-selector form {
  width: 90%;
  height: 50%;
  margin: 5px 10px;
  margin-top: 0;
  
}

.friend-selector textarea {
  width: 90%;
  margin: 5px 10px;
  margin-bottom: 0px;
  height: 25px;
  padding: 5px;
}
  .friend-selector textarea::-webkit-scrollbar {
    width: 0px;
  }
  
.friend-selector button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5%;

  color:  rgb(254, 255, 223);
  background-color: rgba(0, 0, 0, .2);
  
  border: none;
  border-radius: 5px;
  width: 90%;
  height: 25px;
}

  .friend-selector button:hover {
    background-color: rgba(0, 0, 0, .4);
  }

.selector-friend-list {
  overflow-y: auto; 
  overflow-x: hidden;
  list-style-type: none;
  margin-top: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.selector-friend-li {

  position: relative;
  margin: 0;
  width: 100%;
  height: 25px;
  display: flex;
  align-items: center;
  border: 1px black;
  
}

.selector-friend-li:hover {
  background-color: rgba(255, 255, 255, .2);
}


  .selector-friend-li img {
    left: 0;
    width: 20px;
    height: 20px;
    margin: 5px;
  }

  .selector-friend-li input {
    position: absolute;
    margin: 5px;
    right: 0;

  }

  .selector-friend-li label {
    left: 0;
    margin: 5px;

  }
