a {
    color: rgb(255, 255, 255);
}

.signout {
    position: fixed;
    height: 50px;
    width: 150px;
    z-index: 1;

    font-family: Helvetica;
    font-size: 1.5rem;
    text-shadow: 0 0 15px rgba(0, 0, 0, .2);
    
    left: calc(100vw - 125px);
    top: 20px;
}

h2 {
    font-size: 3rem;
}


#in-btn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    
    opacity: 0%;
    transition: opacity 1s ease .25s;
}


#out-btn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    
    opacity: 0%;
    transition: opacity 1s ease .5s;
}
