@keyframes fade-in-out {
    0%, 100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

}


.instructions {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 300px;
    width: 500px;
}

    .instructions ul {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 700px;
        height: 300px;
        text-align: center;
        margin: 0;
        padding: 0;

        cursor: default;
    }

        .instructions li {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;

            list-style-type: none;
            color: rgb(255, 255, 255);
            font-family: Helvetica;
            font-weight: bold;
            font-size: 2rem;
            text-shadow: 0 0 15px rgba(0, 0, 0, .2);
            display:inline-block;

            opacity: 0%;
            animation-name: fade-in-out;
            animation-duration: 4s;
            
            
        }

            li:nth-child(2){

                animation-delay: 4.25s;
            }

            li:nth-child(3){
                animation-delay: 8.5s;
            }


