<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/friends.css' %}">
    <link rel="stylesheet" href="{% static 'css/friend_selector_dropdown.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="friend_request">
    <span>Friend ID: </span>
                <textarea class="friend-code" name="" id="" cols="15" rows="1"></textarea>
            </div>
    <div class="outer-border">
        <div class="ui-wrapper">
            <div class="left-column">
                <div class="user-info">
                    <img src="{{prof_pic}}" alt="">
                    <span>{{username}}</span>
                </div>
                <div class="create-chat-div">
                    <span>Create Chat</span>
                    <button class="create-chat">
                        <i class='bx bx-plus'></i>
                    </button>
                </div>
                <div class="friend-column">
                    <ul class="friend-list">
                        
                    </ul>
                </div>
            </div>

            <div class="friend-selector">
                <span>Select Friends</span>
                <br>
                <textarea name="" id="" cols="10" rows="1" class="friend-tag-selector"></textarea>
                <form action="">
                    <ul class="selector-friend-list">

                    </ul>
                    
                </form>
                <button type="button" class="friend-selector-submit">Create chat</button>
            </div>

            <div class="chat">
                <div class="chat-messages">
                    <ul class="message-list">
                        <div class="my-message">
                            <li>Hey im here.</li>
                        </div>
                        <div class="not-my-message">
                            <li>Ok.</li>
                        </div>
                    </ul>
                </div>
                <div class="curr-message">
                    <textarea class="curr-chat-msg" name="" id="" cols="15" rows="1"></textarea>
                    <button class="send-message">
                        <i class='bx bxs-up-arrow-circle'></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    

    <script data-chats ="{{ chats|safe }}">
        window.CSRF_TOKEN = "{{ csrf_token }}"; 
    </script>
    <script src="../../static/js/jQuery.js"></script>
    <script src="{% static 'js/friends.js' %}"></script>
    <script src="{% static 'js/friend_selector_dropdown.js' %}"></script>
</body>
</html>