<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/spinner.css' %}">
    <link rel="stylesheet" href="{% static 'css/mainpage.css' %}">
    <link rel="stylesheet" href="{% static 'css/background.css' %}">
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    
    {% if newuser %}
    <link rel="stylesheet" href="{% static 'css/instructions.css' %}">
    {% endif %}
</head>
<body>

    <div class="background">
        <img id="one" class="blob" src="../static/images/mov-grad-background/start/Vector.png" alt="">
        <img id="two" class="blob" src="../static/images/mov-grad-background/start/Vector-7.png" alt="">
        <img id="three" class="blob" src="../static/images/mov-grad-background/start/Vector-3.png" alt="">
        <img id="four" class="blob" src="../static/images/mov-grad-background/start/Vector-2.png" alt="">
        <img id="five" class="blob" src="../static/images/mov-grad-background/start/Vector-6.png" alt="">
        <img id="six" class="blob" src="../static/images/mov-grad-background/start/Vector-4.png" alt="">
        <img id="seven" class="blob" src="../static/images/mov-grad-background/start/Vector-5.png" alt="">
        <img id="eight" class="blob" src="../static/images/mov-grad-background/start/Vector-1.png" alt="">
    </div>

    <div class="lds-ripple"><div></div><div></div></div>

    <div class="topbar">
        <a href="{% url 'homepage' %}">
            <div id="logo-image" class="fade-in">
                <span>TITLE PLACEHOLDER</span>
            </div>
        </a>
        <a href="{% url 'signout' %}">
            <div id="premium" class="fade-in">
                <span>Premium</span>
            </div>
        </a>
        <a href="{% url 'signout' %}">
            <div id="logout" class="fade-in">
                <span>Log Out</span>
            </div>
        </a>
    </div>
    
    {% if newuser %}
    <div class="instructions">
        <ul>
            <li>Hello {{ username }}, This Is Your Homepage!</li>
            <li>I am your personal AI chatbot, placeholder</li>
            <li>Let out some stress with my amazing ideas!</li>
        </ul>
    </div>

    {% endif %}

    <button class="title-btn fade-in" id="outside-btn" onclick="send_user_data(this)">Outside</button>
    <button class="title-btn fade-in" id="inside-btn" onclick="send_user_data(this)">Inside</button>

    <a href="{% url 'friends' %}">
        <button class="title-btn fade-in" id="friends-btn" onclick="friends_tab()">Friends >></button>
    </a>
    <div class="output-wrapper">
        <div class="output-text-container">
            <span id="output"></span>
            <div class="blinking-rectangle"></div>
        </div> 
    </div>


    <!-- django to js variables -->
    <script data-newuser="{{ newuser }}">
        window.CSRF_TOKEN = "{{ csrf_token }}"; 
        const data = document.currentScript.dataset;
        const isNewUser = data.newuser == 'True';
    </script>

    <script src="../../static/js/jQuery.js"></script>
    <script src="../static/js/mainpage.js"></script>
    <script src="../static/js/friends.js"></script>
</body>
</html>