<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Premium</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/background.css' %}">
    <link rel="stylesheet" href="{% static 'css/premium.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'media/breathe_easy.png' %}">
</head>
<body>
    <div class="background">
        <img id="one" class="blob" src="../static/images/mov-grad-background/start/Vector.png" alt="">
        <img id="two" class="blob" src="../static/images/mov-grad-background/start/Vector-7.png" alt="">
        <img id="three" class="blob" src="../static/images/mov-grad-background/start/Vector-3.png" alt="">
        <img id="four" class="blob" src="../static/images/mov-grad-background/start/Vector-2.png" alt="">
        <img id="five" class="blob" src="../static/images/mov-grad-background/start/Vector-6.png" alt="">
        <img id="six" class="blob" src="../static/images/mov-grad-background/start/Vector-4.png" alt="">
        <img id="seven" class="blob" src="../static/images/mov-grad-background/start/Vector-5.png" alt="">
        <img id="eight" class="blob" src="../static/images/mov-grad-background/start/Vector-1.png" alt="">
    </div>

    <div class="premium-wrapper">
        <div>Currently there is no premium for Breathe Easy. In future realeases a system to generate money in order to make the company
            profitable will be implemented.
        </div>
    </div>
    <a href="{% url 'homepage' %}">
        <div id="premium" class="fade-in">
            <span>Return</span>
        </div>
</body>
</html>