
* {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', sans-serif;
}

::selection{
  color: #fff;
  background: rgba(45, 207, 94, .8);
}
.wrapper{
  position: relative;
  bottom: 20px;
  width: 370px;
  right: 10px;
  height: 150px;
  background: #fff;
  border-radius: 15px;
  padding: 10px 25px 25px;
  color: rgba(0, 0, 0, .2);
  box-shadow: 0 0 30px rgba(0,0,0,0.06);
}
.wrapper :where(.title, li, li i, .details){
  display: flex;
  align-items: center;
}
.title i{
    
  font-size: 25px;
}

.title h2{
  font-size: 25px;
  font-weight: 600;
  margin-left: 8px;
}
.wrapper .content{
  margin: -2px 0;
}
.content p{
  font-size: 12px;
}
.content ul{
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  padding: 7px;
  margin: 5px ;
  border-radius: 5px;
  border: 1px solid #a6a6a6;
}
.content ul  li{
  color: #333;
  height: 20px;
  margin: 4px 3px;
  list-style: none;
  border-radius: 5px;
  background: #F2F2F2;
  padding: 2px;
  border: 1px solid #e3e1e1;
  font-size: 10px;
}
.content ul li i{
  height: 20px;
  width: 20px;
  color: rgba(0, 0, 0, .2);
  margin-left: 8px;
  font-size: 10px;
  cursor: pointer;
  border-radius: 50%;
  background: #dfdfdf;
  justify-content: center;
}

.details p {
    font-size: 12px;
}
.content ul input{
  flex: 1;
  padding: 5px;
  border: none;
  outline: none;
  font-size: 16px;
  color: rgba(0, 0, 0, .2);
}
.wrapper .details{
  justify-content: space-between;
}
.details button{
  border: none;
  outline: none;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  padding: 9px 15px;
  border-radius: 5px;
  background: rgba(45, 207, 94, .8);
  transition: background 0.3s ease;
}
.details button:hover{
  background: rgb(0, 255, 76);
}